body {
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h1 {
    font-family: "Courier New, Courier, monospace";

    font-weight: bold;

    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Courier New", Courier, monospace;
}

table,
th,
td {
    border: 1px solid rgba(55, 57, 19, 0.9);
}

th,
td {
    padding: 10px;
    text-align: left;
    background-color: #610d45;
    color: #b2d6dd;
    font-size: 15px;
}

th {
    /* background-color: #831370; */
    background-color: #57454f;

    color: white;
}

#addNewUserBtn {
    margin: auto;
    width: 150px;
    padding: 10px;
    background-color: #57454f;

    color: rgb(255, 255, 255);
    /* background-color: #026144;
color: white; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Courier New", Courier, monospace;
    box-shadow: 0 0 5px rgba(70, 68, 68, 0.5);
    margin-top: 20px;
}

#addNewUserBtn:hover {
    /* background-color: #06d6a0; */
    background-color: #57454f;

}